# Ignore Xcode specific files
build/
DerivedData/
*.xcworkspace
xcuserdata/
*.xcuserstate
*.xcscheme
*.xccheckout

# Ignore macOS specific files
.DS_Store

# Ignore Swift Package Manager build artifacts
/.build/
Packages

# Ignore CocoaPods build artifacts
Pods/
Podfile.lock

# Ignore Carthage build artifacts
Carthage/Build/

# Ignore Fastlane build artifacts
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Custom directories to ignore
Assets.xcassets/
FridgeButler.xcdatamodeld/
FridgeButler.xcodeproj/
Preview\ Content/Preview\ A/

